body{
    background-color: navy;
    color: white;
    font-family: Microsoft YaHei;
    margin: 0;
}

div{
    background-color: darkseagreen;
    color: red;
}

#blue-color{
    background-color: blueviolet;
    color: blue;
    font-size: 20px;
}

